body {
	color: #666666;
	font-family: Verdana, sans-serif;
}

p, li {
	font-size: 1.1em;
}

ul {
	padding-top: 20px;
}

h1 {
	font-size: 3.4em;
	padding-top: 25px;
	padding-right: 5px;
	letter-spacing: .2px;
}

h2 {
	font-weight: bold;
	color: #f07c17;
	font-size: 1.7em;
}

img {
	padding-top: 21px;
}

.features-box {
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-left: 30px;
	padding-bottom: 30px;
	margin-top: 29px;
    margin-bottom: 10px;
}

li {
	line-height: 2.19;
    word-spacing: 0.1em;
    letter-spacing: 0.1em;
}

.main-text {
	padding-right: 20px;
	line-height: 2.17;
    word-spacing: 0.1em;
	letter-spacing: .7px;
}

.main-text-heading {
	padding-bottom: 21px;
}
